
        h1 {color:black;}
        h2 {color:black;}
        h3 {color:black;}
        h4 {color:black;}
.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
    display:block;
    margin-left:auto;
    margin-right:auto;
/*the body id will make the body element from all of our pages to look better*/
}
#body {background-color: #398693;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;

}
/*The banner id element will make my h1 look way better than it used to*/
#banner {text-align: center;
    height: 100px;
    background-color: bisque;
    padding: 50px 30px 50px 30px;
}
/*this call element is for the links, so it looks better*/
.nav {
    height: 30px;
    background-color: beige;
    font-size:medium;
    margin-left: auto;
    margin-right: auto;
}
